 .imagem_perfil{
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    margin: 0px auto ; 
}  
    
@import url(<link href="https: //fonts.googleapis.com/css2? family= Kanit & display=swap" rel="stylesheet">);
@import url(<link href="https: //fonts.googleapis.com/css2? family= Kanit & display=swap" rel="stylesheet">');

* {
    margin: 30;
    padding: 0%;
    box-sizing: border-box;
}

body
{
    background-color: rgb(204, 126, 187);
}
    
.intro-pag-titulo
{
    text-align: center;
    color: blueviolet;
    font-size: 25px;
    font-family: '<link href="https: //fonts.googleapis.com/css2? family= Kanit & display=swap" rel="stylesheet">';
    font-family: '<link href="https: //fo…
 }
    
footer
{
    position: absolute;
    bottom: 0;
    text-align: center;
    color:#D3B7;
    background: #D3B7F8;;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 12.5px;
    width: 100%;
    height: 50px;    
    line-height: 50px;
}

.link-tree
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-tree img
{
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
}  
.botao
{
    margin-left: 835px;
    background-color: #cd2efe;
    width: 260px;
    text-align: center;
    margin-top: 19px;
    font-family: 'Kanit';
    font-family: 'Kanit';
    font-size: 11.5px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    border: none; 
}

.botao-2
{
    margin-left: 835px;
    background-color: #cd2efe;
    width: 250px;
    text-align: center;
    margin-top: 18px;
    font-family: 'Kanit';
    font-family: 'Kanit';
    font-size: 11.5px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    border: none; 
}

.botao-3
{
    margin-left: 835px;
    background-color: #cd2efe;
    width: 250px;
    text-align: center;
    margin-top: 18px;
    font-family: 'Kanit';
    font-family: 'Kanit';
    font-family: 'Kanit';
    font-size: 11.5px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    border: none; 
}

.botao-4 

{
    body{
        text-align: center;
    }
    background-color: #cd2efe;
    width: 240px;
    text-align: center;
    margin-top: 18px;
    font-style: initial;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: 11.5px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    border: none;    
}
. botoestitulo
{
    largura :  100 % ;
    altura :  90 vh ;
    exibição : flexível;
    flex-direction : coluna;
    justificar-conteúdo : centro;
    align-items : centro;
}
{
    margin-left: 835px;
    background-color: #cd2efe;
    width: 260px;
    text-align: center;
    margin-top: 19px;
    font-family: 'Kanit';
    font-family: 'Kanit';
    font-size: 11.5px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    border: none; 
}

