@import url("https: //fonts.googleapis.com/css2? family= Kanit & display=swap");
@import url("https: //fonts.googleapis.com/css2? family= Kanit & display=swap");

.imagem_perfil {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: block;
  margin: 0px auto;
}

* {
  margin: 30;
  padding: 0%;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: rgb(204, 126, 187);
  margin: 0;
}

.intro-pag-titulo {
  text-align: center;
  color: blueviolet;
  font-size: 25px;
  font-family: "Kanit", sans-serif;
}

footer {
  display: block;
  margin-top: 10vh;
  text-align: center;
  color: rgba(146, 0, 117, 0.467);
  text-align: center;
  font-weight: 900;
  background: #d3b7f8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12.5px;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.link-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-tree img {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.botao {
  display: block;
  margin: 2vh auto;
  background-color: #cd2efe;
  width: 260px;
  text-align: center;
  font-family: "Kanit";
  font-family: "Kanit";
  font-size: 11.5px;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

.trabalhos {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.trabalhos-container h1 {
  color: purple;
  font-size: 7vh;
  font-family: "Courier New", Courier, monospace;
}

.trabalho {
  display: inline-block;
  margin: 1vh;

  justify-content: center;
  align-items: center;

  padding: 2vh;
  border: 1px solid purple;
}
